@{
    ViewBag.Title = "Mot de passe envoyé";
    Layout = "~/Views/Shared/BlankLayout.cshtml";
}

@section headerattribute{
    class="lostpassword"
}
@section sectionattribute{
    class="lostpassword"
}

@section head{

}

<div class='esMessage'>
Votre nouveau mot de passe a été envoyé sur votre messagerie.
</div>
