@{
    ViewBag.Title = "Inscription effectuée";
    Layout = "~/Views/Shared/BlankLayout.cshtml";
}

@section headerattribute{
    
}
@section sectionattribute{
    
}

@section head{

}

<div class='esMessage'>
L'inscription s'est correctement déroulée. Vous allez recevoir d'ici quelques instants un email de confirmation sur votre messagerie.<br />
Cliquez sur le lien visible sur cet email pour activer votre compte et obtenir le code d'activation à renseigner sur l'écran de contrôle Essensys.
</div>
