@{
    ViewBag.Title = "Téléchargement d'une nouvelle version";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<iframe style="width: 100%;height: 500px;border: none;" src="http://mon.essensys.fr/Home/NewVersion?code=dzeoJD15!"></iframe>